<div class="page-container">
  <h1>Recipes</h1>

  <ul class="recipe-list">
    <% @recipes.each do |recipe| %>
      <li class="recipe-item">

        <%= link_to recipe.name, recipe_path(recipe), class: "link--plain" %>
        <br>
        <% if recipe.rating.present? %>
          <span> | Rated: <%= recipe.rating %> ⭐</span>
        <% else %>
          <%= link_to "Rate", edit_recipe_path(recipe), class: "button" %>
        <% end %>
        <span class="recipe-actions">
          <%= link_to "Edit", edit_recipe_path(recipe), class: "button button--link" %>
          <%= link_to "Delete", recipe, method: :delete,
              data: { confirm: "Are you sure?" },
              class: "button button--danger" %>
        </span>

      </li>
    <% end %>
  </ul>

  <%= link_to "New Recipe", new_recipe_path, class: "button button--primary" %>
</div>

<!-- <h1>Recipes</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe)%></li>
      <% if recipe.rating.present? %>
        <span> | Rated: <%= recipe.rating %> ⭐</span>
      <% else %>
        <%= link_to "Rate", edit_recipe_path(recipe), class: "rate-button" %>
      <% end %>
      (<%= link_to "Edit", edit_recipe_path(recipe) %>)
      (<%= link_to "Delete", recipe, method: :delete, data: { confirm: "Are you sure?" } %>)
  <% end %>
</ul>

<%= link_to "New Recipe", new_recipe_path %> -->